@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --fonte-primaria: "Roboto", sans-serif;
    --fonte-secundaria: "Open Sans", sans-serif;
    --bege-claro:hsl(210, 36%, 96%);
    --azul-esc:hsl(209, 61%, 16%);
    --azul-claro: hsl(210, 22%, 49%);
    --gold: #c59d5f;
}

body{
    background-color: var(--bege-claro);
    color: var(--azul-esc);
    font-family: var(--fonte-secundaria);
    font-weight: bolder;
}

h1{
    padding: 5em 0 0.5em;
    text-align: center;
    font-size: 3em;

}


.underline{
    width: 10em;
    height: 0.35em;
    background-color: var(--gold);
    margin-left: auto;
    margin-right: auto;
}

.menu__botoes{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 2em auto ;
    
}

.menu__botoes-botao{
    background-color: transparent;
    border: solid 2px var(--gold);
    border-radius: 10px;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    transition: 0.3s linear;
}

.menu__botoes-botao:hover{
    background-color: var(--gold);
    color: var(--bege-claro);
}

.produtos{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 3em;
    margin: 3em;
    width: 80vw;
    
}

.produtos__produto{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.3em;
    gap: 1em;
}

.produto__img{
    width: 300px;
    height: 200px;
    border: solid 6px var(--gold);
    border-radius: 10px;
    margin: auto;
}

.produto__info header{
    display: flex;
    border-bottom:1px dotted;
    justify-content: space-between;
    padding: .5em;
    font-size: 1.5em;
    font-family: var(--fonte-primaria); 
}

.produto__preco{
    color: var(--gold);
}

.produto__texto{
    line-height: 1.4em;
    padding: 1em;
    color:var(--azul-claro);
}