@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --fonte-primaria: "Roboto", sans-serif;
    --fonte-secundaria: "Open Sans", sans-serif;
    --bege-claro:hsl(210, 36%, 96%);
    --azul-esc:hsl(209, 61%, 16%);
    --azul-claro: : hsl(210, 22%, 49%);
    --gold: #c59d5f;
}

body{
    background-color: var(--bege-claro);
    color: var(--azul-esc);
    font-family: var(--fonte-secundaria);
    font-weight: bolder;
}

h1{
    padding: 5em 0 0.5em;
    text-align: center;
    font-size: 3em;

}

.underline{
    width: 10em;
    height: 0.35em;
    background-color: var(--gold);
    margin-left: auto;
    margin-right: auto;
}

.menu__botoes{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 2em auto ;
    
}

.menu__botoes-botao{
    background-color: transparent;
    border: solid 2px var(--gold);
    border-radius: 10px;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    transition: 0.3s linear;
}

.menu__botoes-botao:hover{
    background-color: var(--gold);
    color: var(--bege-claro);
}